<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Home </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Home
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{ if .is_logged_in }}
                    <li class="nav-item"><a href="/article/create">Create Article</a></li>
                {{end}}
                {{ if not .is_logged_in }}
                    <li class="nav-item"><a href="/u/register">Register</a></li>
                {{end}}
                {{ if not .is_logged_in }}
                    <li class="nav-item"><a href="/u/login">Login</a></li>
                {{end}}
                {{ if .is_logged_in }}
                    <li class="nav-item"><a href="/u/logout">Logout</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>

<header class="masthead" style="background-image: url('./views/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Golang Blog</h1>
                    <span class="subheading">A Blog Write tour of Go</span>
                </div>
            </div>
        </div>
    </div>
</header>
